@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.light-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 21px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 85px;
    margin-bottom: 130px;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

/* Banner Related Style */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
}

.banner-image {
    width: 100%;
    margin-bottom: 45px;
}

/* Second Section Style */
.second-sec {
    align-items: center;
}

.second-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.second-right {
    max-width: 537px;
    text-align: left;
    margin-left: 73px;

}

.second-right-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.color {
    color: rgba(255, 144, 14, 1);
    font-weight: 700;
}

.bold {
    font-weight: 700;
    color: #131313;
}

.second-right-description {
    font-size: 1rem;
}

.team-image {
    width: 100%;
}

/* Fact Design */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fact{
    width: 241px;
    height: 241px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.fact-name{
    font-size: 1.1rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-content{
text-align: center;
}

.some-facts > p{
    max-width: 542px;
    max-height: 52px;
    margin-bottom: 100px;
}
.some-facts > h3{
    margin-bottom: 22px;
}

/* Sponsor Design Starts */

.sponsor-heading{
    max-width: 542px;
    max-height: 129px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 23px;
}
.sponsor-details{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 50px;
}
.sponsor-comp{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 130px;
}
.sp-icon{
    filter: grayscale(100%);
}

/* Responsive Media Query */
/*small size*/
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .second-sec {
        flex-direction: column;
    }

    .second-left, .facts-container, .sponsor-comp {
        grid-template-columns: 1fr;
    }

    .second-right {
        margin: 0 auto;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-comp{
        justify-items: center;
        gap: 30px;
        margin-top: 30px;
    }
   

}

/*Medium Size*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .second-sec {
        flex-direction: column;
    }
    .sponsor-comp, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    

}

